.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 3px whitesmoke;
    border-radius: 0px 0px 25px 25px;
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-nav {
    position: relative;
    padding-left: 390px;
}

.container {
    padding-top: 0px;
    padding-left: 20px;
    line-height: 45px;
}

.rounded-circle {
    width: 16em;
    height: 16em;
}

.card {
    float: right;
    width: 400px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.card-box {
    padding-top: 70px;
    padding-right: 350px;
}

.picture {
    float: left;
    width: 300px;
    border: 1px solid black;
    padding: 10px 10px 10px 20px;
    margin: 20px;
}

.picture-box {
    padding-top: 100px;
    padding-left: 150px;
}